.container {
  background-color: rgb(0, 0, 0);
  margin-top: 50px;
}

.container h2 {
  margin-top: 0px;
  background-color: rgba(143, 0, 60, 0.801);
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
  height: 110px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(112, 0, 47);
  margin-bottom: 30px;
}

.container h6 {
  color: rgba(143, 0, 60, 0.705);
  padding: 20px;
  display: flex;
  place-content: center;
  border-top: 1px solid rgba(73, 0, 30, 0.705);
}

.container h6:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(224, 0, 93);
  transition: transform 0.1s;
  transform: scale(1.1);
}

.container h3 {
  border-top: 1px solid rgba(73, 0, 30, 0.705);
  letter-spacing: 2px;
  color: rgba(196, 0, 81, 0.781);
  font-weight: bold;
  font-size: 26px;
  padding: 10px;
}

.container h3:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(224, 0, 93);
  transition: transform 0.1s;
  transform: scale(1.1);
}

.container p {
  color: rgba(192, 192, 192, 0.781);
  font-size: 15px;
  letter-spacing: 1px;
}

.container a {
  color: rgba(192, 192, 192, 0.781);
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}

.container a:hover {
  color: rgb(255, 0, 106);
  text-decoration: none;
  font-size: 20px;
}

.icon {
  color: rgb(255, 0, 106);
  margin-bottom: 10px;
}

.container li {
  color: rgba(192, 192, 192, 0.781);
  text-decoration: none;
  padding: 10px;
  font-size: 17px;
  list-style: none;
}
