.topbar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  padding: 0 20px;
  height: 50px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.333);
}

.topbar_container:hover {
  box-shadow: 0 0 20px rgb(85, 2, 36);
  border-bottom: 1px solid rgb(104, 0, 43);
}

.icon_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.topbar_btn {
  text-align: center;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  color: rgb(153, 153, 153);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.topbar_btn_icon {
  text-align: center;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  color: rgb(153, 153, 153);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.topbar_btn:hover {
  color: rgb(255, 0, 106);
  transition: transform 0.2s;
  transform: scale(1.2);
}

@media (max-width: 1400px) {
  .topbar_container {
    background-color: rgba(0, 0, 0, 0.199);
    height: auto;
  }

  .icon_container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .topbar_btn {
    text-align: start;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
  }

  .topbar_btn:hover {
    color: rgb(255, 255, 255);
    transition: transform 0.2s;
    transform: scale(1);
  }

  .topbar_btn_icon {
    text-align: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(153, 153, 153, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
  }
}
