.home {
  text-align: center;
  justify-content: space-between;
}

.home_product {
  margin-top: 50px;

}

.home_product button {
  color: rgb(0, 0, 0);
  padding-top: 10px;
  margin-right: 30px;
  font-weight: bold;
}

.cards_container {
  display: grid;
  text-align: center;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}

.cards_card {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Cuatro columnas de ancho automático */
  justify-content: space-between; /* Espacio entre las columnas */
  text-align: center;
  grid-auto-flow: dense; /* Evitar superposición */
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
}

.cards_card_product {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 30px;
  justify-content: space-between; /* Espacio entre las columnas */
  text-align: center;
  grid-auto-flow: dense; /* Evitar superposición */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.993);
}

.paginado {
  font-family: "Dancing Script", cursive;
  text-align: center;
}

.paginado button {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

/* @media (max-width: 1800px) {
  .cards_container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(50%, 1fr)
    ); 
  }

  .cards_card {
    grid-template-columns: repeat(
      2,
      1fr
    ); 
  }
} */

/* Estilo para pantallas medianas */
@media (max-width: 1400px) {
  .cards_container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(50%, 1fr)
    ); /* Dos columnas de ancho automático */
  }

  .cards_card {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Dos columnas de ancho automático */
  }
}

/* Estilo para pantallas pequeñas (por ejemplo, móviles) */
@media (max-width: 924px) {
  .cards_container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(100%, 1fr)
    ); /* Una columna de ancho automático */
  }

  .cards_card {
    grid-template-columns: 1fr;
  }
}
